SECRET_KEY=cambia-esto-por-una-clave-secreta-larga
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=nombrdb
POSTGRES_USER=gmant_user
POSTGRES_PASSWORD=cambia-esto-por-una-password-segura

DATABASE_URL=postgresql://gmant_user:cambia-esto@db:5432/gmant
