Django>=5.0,<5.1
psycopg2-binary>=2.9.9
django-environ>=0.11.2
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
drf-nested-routers>=0.94
django-cors-headers
Pillow
django-stubs>=5.0.0
weasyprint>=62.0
requests>=2.31

